aws_region = "eu-central-1"
aws_profile = "aeternity-sdk"
public_key = "ssh-rsa AAA...== user@host"
bucket = "aeternity-sdk"
my_ip = "0.0.0.0"
jenkins_hostname = "jenkins.mydomain.com"
sdk_testnet_hostname = "sdk-testnet.mydomain.com"
republica_hostname = "republica.mydomain.com"
email = "admin@mydomain.com"
